@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;0,600;1,500&display=swap");

/* Navbar */
nav {
  font-family: "Kanit", sans-serif;
  background: #1c42ca;
}
.nav-link {
  transition: all 0.2s !important;
}
.nav-link:hover {
  color: #eaec8b !important;
}
.active a {
  color: #eaec8b !important;
  font-weight: 600 !important;
}

/* Home Page */
.hero {
  background: url("../assets/images/hero.svg");
  height: 150vh;
  font-family: "Kanit", sans-serif;
}
.hero-title {
  font-weight: 500;
}
.hero-description {
  font-weight: 400;
}
.register {
  font-family: "Kanit", sans-serif;
  font-weight: 400;
}
.howto-vote {
  font-family: "Kanit", sans-serif;
  font-weight: 400;
}

/* Kandidat Page */
.kandidat-img img {
  width: 100%;
  height: 50%;
  border-radius: 50%;
}

/* Footer */
footer {
  background: url("../assets/images/footer.svg") no-repeat top;
  height: 100%;
  font-family: "Kanit", sans-serif;
  font-weight: 400;
}
.footer-content {
  margin-top: 18rem;
}
.logo-instansi {
  width: 16%;
  height: 16%;
}
.circle {
  background: #6c63ff;
  border-radius: 5px;
  transition: all 0.3s;
}
.circle:hover {
  background: #19129c;
}

/* Login and Register */
.login-form,
.register-form {
  position: absolute;
  right: 3rem;
  border-radius: 20px;
  box-shadow: 7px 5px 36px 5px rgba(0, 0, 0, 0.31);
  -webkit-box-shadow: 7px 5px 36px 5px rgba(0, 0, 0, 0.31);
  -moz-box-shadow: 7px 5px 36px 5px rgba(0, 0, 0, 0.31);
}
.box {
  background: #1c42ca;
  border-radius: 20px;
  box-shadow: 7px 5px 36px 5px rgba(0, 0, 0, 0.31);
  -webkit-box-shadow: 7px 5px 36px 5px rgba(0, 0, 0, 0.31);
  -moz-box-shadow: 7px 5px 36px 5px rgba(0, 0, 0, 0.31);
}

/* Button */
.btn-blue {
  background-color: #1c42ca !important;
}
.btn-login {
  border: 2px solid #c6cb72;
  padding: 5px 41px;
  border-radius: 35px;
  background: #1c42ca;
  transition: all 0.3s;
}
.btn-login:hover {
  background: #c6cb72;
}
.btn-hero {
  padding: 5px 20px;
  border-radius: 35px;
  transition: all 0.3s;
}
.btn-kandidat {
  border: 1px solid #ffffff;
  background: #1c42ca;
  transition: all 0.3s;
}
.btn-kandidat:hover {
  background: #c6cb72;
  border-color: #c6cb72;
}
.btn-hero-voting {
  border: 1px solid #c6cb72;
  background: #1c42ca;
}
.btn-hero-voting:hover {
  background: #c6cb72 !important;
}
.btn-register {
  padding: 20px 42px;
  background: #1c42ca;
  border-radius: 35px;
  border: none;
  transition: all 0.3s;

  box-shadow: 7px 5px 36px 5px rgba(0, 0, 0, 0.31);
  -webkit-box-shadow: 7px 5px 36px 5px rgba(0, 0, 0, 0.31);
  -moz-box-shadow: 7px 5px 36px 5px rgba(0, 0, 0, 0.31);
}
.btn-register:hover {
  background: #062181;
}
.btn-detail {
  background: #dadada !important;
}
.btn-detail:hover {
  background: #1c42ca !important;
}
.btn-voting {
  background: #1c42ca !important;
  transition: all 0.3s;
}
.btn-voting:hover {
  background: #062181 !important;
}

.paslon img {
  width: 100%;
}
.paslon img {
  width: 100%;
  height: 50%;
  border-radius: 50%;
}
.card-paslon,
.card-kandidat,
.card-voting {
  background: #f2f2f2 !important;
  box-shadow: 1px 3px 17px 1px rgba(82, 82, 82, 0.69);
  -webkit-box-shadow: 1px 3px 17px 1px rgba(82, 82, 82, 0.69);
  -moz-box-shadow: 1px 3px 17px 1px rgba(82, 82, 82, 0.69);
}
.card-paslon-header {
  background: #c4c4c4 !important;
}

@media screen and (max-width: 768px) {
  .hero {
    background: #1c42ca;
    height: 100%;
  }
  .login-form,
  .register-form {
    right: 0;
  }
  footer {
    background: #1c42ca;
    text-align: center;
  }
  .footer-content {
    margin-top: 3rem;
  }
  .social-media {
    justify-content: center;
  }
  .instansi {
    margin-top: 2rem;
    text-align: center !important;
  }
}
