@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;0,600;1,500&display=swap');

.btn-login {
    border: 2px solid #C6CB72;
    padding: 5px 41px;
    border-radius: 35px;
    background: #1C42CA;
}
nav {
    font-family: 'Kanit', sans-serif;
    background: #1C42CA;
}
.active a {
    color : #EAEC8B !important;
    font-weight: 600 !important; 
}
.hero {
    background:url("../assets/images/hero.svg");
    height: 150vh;
    font-family: 'Kanit', sans-serif;
}
.hero-title {
    font-weight: 500;
}
.hero-description {
    font-weight: 400;
}
.btn-hero {
    padding: 5px 20px;
    border-radius: 35px;
}
.btn-kandidat {
    border: 1px solid #FFFFFF;
    background: #1C42CA;
}
.btn-voting {
    border: 1px solid #C6CB72;
    background: #C6CB72;
}
.register {
    font-family: 'Kanit', sans-serif;
    font-weight: 400;
}
.btn-register {
    padding: 20px 42px;
    background: #1C42CA;
    border-radius: 35px;
    border: none;
}
.round {
    background: #6C63FF;
}
.howto-vote {
    font-family: 'Kanit', sans-serif;
    font-weight: 400;
}
footer {
    background:url("../assets/images/footer.svg") no-repeat top;
    height: 100%;
    font-family: 'Kanit', sans-serif;
    font-weight: 400;
}
.footer-content {
    margin-top: 28%;
}
.paslon img {
    width: 100%;
}
.paslon img {
    width: 90%;
    height: 45%;
    border-radius: 50%;
}
.card-paslon, .card-kandidat, .card-voting {
    background: #F2F2F2 !important;
    box-shadow: 1px 3px 17px 1px rgba(82,82,82,0.69);
    -webkit-box-shadow: 1px 3px 17px 1px rgba(82,82,82,0.69);
    -moz-box-shadow: 1px 3px 17px 1px rgba(82,82,82,0.69);
}
.card-paslon-header {
    background: #C4C4C4 !important;
}
.btn-detail {
    background: #DADADA !important;
    
}
.btn-detail:hover {
    background: black !important;
}
.kandidat-img img {
    width: 50%;
    height: 50% !important;
    border-radius: 50%;
}
.btn-voting {
    background: #1C42CA !important;
}